@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");


/*=============== BASE ===============*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
} 

:before,:after{
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}


h2, h3{
	color:  #273c75;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
} 

  
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
  
a {
	text-decoration: none;
}
  
img,video {
	max-width: 100%;
	height: auto;
}
  
button{
	border: none;
	font-family: 'Poppins', sans-serif;
	font-size: .938rem;
	cursor: pointer;
}

.ctn{
	max-width: 1200px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center;
}

.main {
	overflow-x: hidden;
}
  

/* header */
.header{
	display: block;
	width: 100%;
	position: fixed;
	z-index: 99;
	padding: 15px;
	background-color: #fff;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.header .item-left{
	flex: 0 0 25%;
}
.header .logo a{
	font-size: 30px;
	color:#000000;
	font-weight: 700;
	text-decoration: none;
}
.header .item-center{
	flex:0 0 66%;
}
.header .item-right{
	flex:0 0 17%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 1rem;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
  justify-content: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
  transition: all 0.4s ease-in-out 0s;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item:hover {
    transform: scale(1.1);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 1rem;
	color:rgb(237, 0, 140);
	font-weight: 300;
	line-height: 1;
	padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:rgb(237, 0, 140);
}


.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}

/*responsive*/
@media(max-width: 991px){

	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}


























/*=============== REUSABLE CSS CLASSES ===============*/
.section {
	padding: 4.5rem 0 2.5rem;
  }
  
  .section__title {
	font-size: 1.9rem;
	color: #000;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 2rem;
  }

  .container {
	max-width: 968px;
	margin-left: 1rem;
	margin-right: 1rem;
  }
  
  .grid {
	display: grid;
	gap: 1.5rem;
  }

/* banner-slide */

#banner-slide{
	background-color: #000;
}

.slideshow{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.slideshow-item{
	width: inherit;
	height: inherit;
	position: absolute;
	opacity: 0;
	animation: cycleImages 31s infinite;
}


.slideshow-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	animation: zoom 31s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
	animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
	animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
	animation-delay: 20s;
}



.slideshow-item-text{
	max-width: 50%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: rgba(0,0,0,.8);
	color: #fff;
	padding: 6rem 5rem;
}

.slideshow-item-text h1{
	font-size: 3rem;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 2.5rem;
}

.slideshow-item-text p{
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
	font-weight: 300;
}



@keyframes cycleImages {
	25%{
		opacity: 1;

	}

	40%{
		opacity: 0;
	}
}

@keyframes zoom {
	100%{
		transform: scale(1.3);

	}
}


@media (max-width: 1040px){
	section{
	  padding: 80px 20px;
	}
	.section__title{
	  font-size: 1.8em;
	}
  
	
  
}	

@media screen and (max-width: 1000px){
	.slideshow-item-text{
		max-width: 70%;
		padding: 5rem 1rem;
	}

	.slideshow-item-text h5{
		font-size: 4rem;
		
	}
}

@media screen and (max-width: 767px){
	.slideshow-item-text{
		max-width: 100%;
		padding: 2rem;
		top: initial;
		bottom: 0;
		transform: initial;
	}

	.slideshow-item-text h5{
		font-size: 3rem;
		
	}

	.slideshow-item-text p{
		font-size: 1rem;
		
	}
}

/*=============== BUTTONS ===============*/
.button,.button-2 {
	display: inline-block;
	background-color: #273c75;
	color: #fff;
	padding: 1rem 2rem;
	font-weight: 600;
	transition: .3s;
  }
  
  .button:hover {
	background-color: #ed008c;
  }

  .button-2:hover {
	background-color: #ed008c;
  }
  
  .button--flex {
	display: flex;
	align-items: center;
	column-gap: .25rem;
  }
  
  .button--link {
	background: none;
	padding: 0;
  }
  
  .button--link:hover {
	background: none;
  }

/*=============== ABOUT & PROPOS ===============*/

.propos{
	background-color: #f1f1f1;
}

.about__data, .propos__data {
	text-align: center;
}
  
.about__container, .propos__container {
	row-gap: 2.5rem;
}
  
.about__description, .propos__description {
	margin-bottom: 2rem;
}
  
.about__img, .propos__img {
	display: flex;
	column-gap: 1rem;
	align-items: center;
	justify-content: center;
}
  
.about__img-overlay, .propos__img-overlay {
	overflow: hidden;
}
  
.about__img-one {
	width: 130px;
}
  
.about__img-two {
	width: 180px;
}

.propos__img-one{
	width: 500px;
}
.propos__img-two{
	width: 550px;
	
}
  
.about__img-one, 
.about__img-two,
.propos__img-one,
.propos__img-two{
	transition: .3s;
}
  
.about__img-one:hover, 
.about__img-two:hover,
.propos__img-one:hover,
.propos__img-two:hover {
	transform: scale(1.1);
}


/* info */

.info{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #c8d6e5;
	min-height: 65vh;
	/* font-family: "Fira Sans", sans-serif; */
	
	}

.info .container-card{
	position: relative;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px;
}


.info .container-card .card{
	position: relative;
	height: 250px;
	background: #fff;
	display: flex;
	width: 45%;
	margin: 30px 0;
	cursor: pointer;
}

.imgBx{
	width: 150px;
}

.info .container-card .card .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #192a56;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}
.info .container-card .card:hover .imgBx{
	width: 150px;
	height: 150px;
	left: -75px;
	top: calc(50% - 75px);
	transition: 0.5s ease-in-out;
	background: #273c75;
}
.info .container-card .card .imgBx:before{
	content: attr(data-text);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 5em;
	color: #273c75;
	font-weight: 700;
}
.info .container-card .card .imgBx img{
	max-width: 100px;
	margin-bottom: 25px;
	transition: 0.5s ease-in-out;
}

.info .container-card .card:hover .imgBx img{
	max-width: 75px;
}

.info .container-card .card .content{
	position: absolute;
	right: 0;
	width: calc(100% - 75px);
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info .container-card .card .content h3{
	margin-bottom: 5px;
	font-size: 24px;
	color: #0d0925;
}
.info .container-card .card .content p{
	color: rgb(78, 74, 103);
}

/*=============== DISCOVER ===============*/
/* .discover__card {
	position: relative;
	width: 100px;
	overflow: hidden;
    
}
  
.discover__data {
	position: absolute;
	bottom: 1.5rem;
	left: 1rem;
}
  
.discover__title, 
.discover__description {
	color: #fff;
}
  
.discover__title {
	font-size: 1rem;
	margin-bottom: 1rem;
}
  
.discover__description {
	display: block;
	font-size: 1rem;
}
  
.discover__img {
	transition: .3s;
	display: block;
	width: 100%;
	height: 750px;
}
  
.discover__img:hover {
	transform: scale(1.1);
}
  

.discover__container{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
} */

/*=============== VIDEO ===============*/

.video{
	background: #c8d6e5;
}

.video__container {
	padding-bottom: 1rem;
	
}
  
.video__description {
	text-align: center;
	margin-bottom: var(--mb-2-5);
}
  
.video__content {
	position: relative;
}
  
.video__button {
	position: absolute;
	right: 1rem;
	bottom: -1rem;
	padding: 1rem 1.5rem;
}
  
.video__button-icon {
	font-size: 1.2rem;
}

/*=============== EXPERIENCE ===============*/
.experience__container {
	row-gap: 2.5rem;
	justify-content: center;
	justify-items: center;
}
  
.experience__content {
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	justify-items: center;
	padding: 0 2rem;
}
  
.experience__number {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: .5rem;
}
  
.experience__description {
	font-size: 1rem;
}
  
.experience__img {
	position: relative;
	padding-bottom: 2rem;
}
  
.experience__img-one, 
.experience__img-two {
	transition: .3s;
}
  
.experience__img-one:hover, 
.experience__img-two:hover {
	transform: scale(1.1);
}
  
.experience__overlay {
	overflow: hidden;
}
  
.experience__overlay:nth-child(1) {
	width: 263px;
	margin-right: 2rem;
}
  
.experience__overlay:nth-child(2) {
	width: 120px;
	position: absolute;
	top: 2rem;
	right: 0;
}


/*=============== SPONSORS ===============*/

.sponsor{
	background-color: #c8d6e5;
}

.sponsor__container {
	grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
	justify-items: center;
	row-gap: 3.5rem;
	
}
  
/* .sponsor__content:hover .sponsor__img {
	
} */
  
.sponsor__img {
	width: 90px;
	transition: .3s;
}

/*=============== FOOTER ===============*/

/* .footer-propos{
	background: #c8d6e5;
} */
.footer__container {
	row-gap: 5rem;
}
  
.footer__content {
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	row-gap: 2rem;
}
  
.footer__title, 
.footer__subtitle {
	font-size: 1.2rem;
}
  
.footer__title {
	margin-bottom: .5rem;
}
  
.footer__description {
	margin-bottom: 2rem;
}
  
.footer__social {
	font-size: 1.25rem;
	color:  #273c75;
	margin-right: 1.25rem;
}

.footer__social:hover{
	color: rgb(237, 0, 140);
}

  
.footer__subtitle {
	margin-bottom: 1rem;
}
  
.footer__item {
	margin-bottom: .75rem;
}
  
.footer__link {
	color: #273c75;
}
  
.footer__link:hover {
	color: rgb(237, 0, 140);
}
  
.footer__rights {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	text-align: center;
}
  
.footer__copy, .footer__terms-link {
	font-size: .813rem;
	color:hsl(190, 8%, 60%);
}
  
.footer__terms {
	display: flex;
	column-gap: 1.5rem;
	justify-content: center;
}
  
.footer__terms-link:hover {
	color: rgb(237, 0, 140);
}


/* Actu */

.actu-container {
	width: 100%;
	max-width: 1100px;
	min-height: 70vh;
	margin: 0 auto;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	grid-auto-flow: dense;
	grid-gap: 30px;
	align-items: center;
	justify-content: center;
  }
  
  .actu-card {
	position: relative;
  }
  
  .actu-card .actu-card-media {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
  }
  
  .actu-card .actu-card-media img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s;
  }
  
  .actu-card:hover .actu-card-media img {
	transform: scale(1.05);
  }
  
  .actu-card .actu-card-media::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(22, 22, 22, 0.3);
	transition: all 0.3s;
	z-index: 1;
  }
  
  .actu-card:hover .actu-card-media::before {
	background-color: #273c75;
  }
  
  .actu-card .actu-card-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 40px;
	opacity: 0;
	transition: all 0.3s;
  }
  
  .actu-card:hover .actu-card-content {
	opacity: 1;
  }
  
  .actu-card .actu-card-content .actu-card-header {
	margin-bottom: 30px;
  }
  
  .actu-card .actu-card-content .actu-card-header .actu-card-date {
	display: block;
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 8px;
  }
  
  .actu-card .actu-card-content .actu-card-header h3 {
	font-size: 32px;
	font-weight: 500;
	line-height: 43px;
  }
  
  .actu-card .actu-card-content .actu-card-header h3 a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.3s;
  }
  
  .actu-card .actu-card-content .actu-card-header h3 a:hover {
	color: rgb(237, 0, 140);
  }
  
  .actu-card .actu-card-content .actu-card-desc {
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
	line-height: 27px;
  }
  
  .actu-card .actu-card-content .actu-card-footer {
	margin-top: 100px;
  }
  
  .actu-card .actu-card-content .actu-card-footer .actu-read-more-link {
	display: inline-flex;
	align-items: center;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.3s;
  }
  
  .actu-card .actu-card-content .actu-card-footer .actu-read-more-link:hover {
	color: rgb(237, 0, 140);
  }
  
  .actu-card .actu-read-more-link svg {
	height: 10px;
	margin-left: 10px;
	transition: transform 0.3s;
  }
  
  .actu-card .actu-read-more-link:hover svg {
	transform: translateX(5px);
  }
  
  .actu-card .actu-card-border span {
	display: inline-block;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.4);
	transition: all 0.3s linear;
	z-index: 2;
  }
  
  .actu-card .actu-card-border span.top {
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: left;
  }
  
  .actu-card .actu-card-border span.right {
	width: 1px;
	height: 100%;
	top: 0;
	right: 0;
	transform: scaleY(0);
	transform-origin: top;
  }
  
  .actu-card .actu-card-border span.bottom {
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: right;
  }
  
  .actu-card .actu-card-border span.left {
	width: 1px;
	height: 100%;
	top: 0;
	left: 0;
	transform: scaleY(0);
	transform-origin: bottom;
  }
  
  .actu-card:hover .actu-card-border span.top {
	transform: scaleX(1);
  }
  
  .actu-card:hover .actu-card-border span.right {
	transform: scaleY(1);
	transition-delay: 0.3s;
  }
  
  .actu-card:hover .actu-card-border span.bottom {
	transform: scaleX(1);
	transition-delay: 0.6s;
  }
  
  .actu-card:hover .actu-card-border span.left {
	transform: scaleY(1);
	transition-delay: 0.9s;
  }
  
  /* Let's write the media query */
  @media (max-width: 1024px) {
	.actu-container {
	  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	}
  
	.actu-card {
	  grid-column: span 2;
	  grid-row: span 2;
	}
  }
  

/*  Contact */

.contact-section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background:  #c8d6e5;
}

.contact-section::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: #273c75;

}

.container-contact{
	position: relative;
	min-width: 1100px;
	min-height: 550px;
	display: flex;
	z-index: 1;
	
}

.container-contact .contactInfo{
	position: absolute;
	top: 40px;
	width: 350px;
	height: calc(100% - 80px);
	background: #c8d6e5;
	z-index: 1;
	padding: 40px;
	display: flex;
	justify-content: center;
	justify-content: space-between; 
	flex-direction: column;
	
	box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}

.container-contact .contactInfo h2{
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}

.container-contact .contactInfo ul.info-contact{
	position: relative;
	margin: 20px 0;
	
}

.container-contact .contactInfo ul.info-contact li{
	position: relative;
	list-style: none;
	display: flex;
	margin: 20px 0;
	cursor: pointer;
	align-items: flex-start;
}

.container-contact .contactInfo ul.info-contact li span:nth-child(1){
	width: 30px;
	min-width: 30px;
}

.container-contact .contactInfo ul.info-contact li span:nth-child(1) i{
	max-width: 100%;
	color: #273c75;
	
}


/* .container-contact .contactInfo ul.sci{
	position: relative;
	display: flex;
}

.container-contact .contactInfo ul.sci li{
	list-style: none;
	margin: 0 auto;
	
}

.container-contact .contactInfo ul.sci a{
	text-decoration: none;
	
} */

/* .container-contact .contactInfo ul.sci i{
	color: #273c75;
	transition: .3s;
	height: 800px;
	
}

.container-contact .contactInfo ul.sci i:hover{
	color: rgb(237, 0, 140);
	
} */


.container-contact .contactInfo ul.info-contact li span:nth-child(2){
	color: #273c75;
	margin-left: 10px;
	font-weight: 300;
}



.container-contact .contactForm{
	position: absolute;
	padding: 70px 50px;
	padding-left: 250px;
	margin-left: 150px;
	width: calc(100% - 150px);
	height: 100%;
	background: #fff;
	box-shadow: 0 50px 50px rgba(0,0,0,0.15);
}

.container-contact .contactForm h2{
	font-size: 24px;
	font-weight: 500;
}

.container-contact .contactForm .formBox{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}

.container-contact .contactForm .formBox .inputformBox{
	position: relative;
	margin-bottom: 35px;
}

.container-contact .contactForm .formBox .inputformBox.w50{
	width: 47%;
}

.container-contact .contactForm .formBox .inputformBox.w100{
	width: 100%;
}


.container-contact .contactForm .formBox .inputformBox input,
.container-contact .contactForm .formBox .inputformBox textarea{
	width: 100%;
	resize: none;
	padding: 5px 0;
	font-size: 18px;
	font-weight: 300;
	color: #333;
	border: none;
	outline: none;
	border-bottom: 1px solid #777;
}

.container-contact .contactForm .formBox .inputformBox textarea{
	height: 120px;
}

.container-contact .contactForm .formBox .inputformBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	pointer-events: none; 
	font-size: 18px;
	font-weight: 300;
	transition: 0.3s;
}

.container-contact .contactForm .formBox .inputformBox input:focus ~ span,
.container-contact .contactForm .formBox .inputformBox input:valid ~ span,
.container-contact .contactForm .formBox .inputformBox textarea:focus ~ span,
.container-contact .contactForm .formBox .inputformBox textarea:valid ~ span{
	transform: translateY(-20px);
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #192a56;
	font-weight: 500;
}

.container-contact .contactForm .formBox .inputformBox input[type="submit"]{
	position: relative;
	cursor: pointer;
	background: #273c75;
	color: #fff;
	border: none;
	max-width: 150px;
	padding: 12px;
	transition: 0.4s ease-in-out;
}

.container-contact .contactForm .formBox .inputformBox input[type="submit"]:hover{
	background: rgb(237, 0, 140);
	
}

/* map */

.map iframe{
	width: 100%;
	height: 600px;
	border: 0;
}



























/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
	.experience__content {
		padding: 0;
	}
	.experience__overlay:nth-child(1) {
		width: 190px;
	}
	.experience__overlay:nth-child(2) {
		width: 80px;
	}
	.home__info {
		width: 190px;
		padding: 1rem;
	}
	.experience__img,
	.video__container {
		padding: 0;
	}
}

/* For medium devices */
@media screen and (min-width: 568px) {
	.video__container {
	  display: grid;
	  grid-template-columns: .6fr;
	  justify-content: center;
	}
	
}

@media screen and (min-width: 768px){
	body {
		margin: 0;
	}

	.about__container, .propos__container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}
	  .about__data, .about__title, .propos__data, .propos__title {
		text-align: initial;
	  }
	  .about__title, .propos__title{
		margin-bottom: 1.5em;
	  }
	  .about__description, .propos__description {
		margin-bottom: 2em;
	  }
	
	  .section {
		padding: 7rem 0 2rem;
	  }

	  .experience__overlay:nth-child(1) {
		width: 363px;
		margin-right: 4rem;
	  }

	  .experience__overlay:nth-child(2) {
		width: 160px;
	  }

	  .footer__rights {
		flex-direction: row;
		justify-content: space-between;
	  }
	 

}

@media (max-width: 1200px){
	.container-contact{
		width: 90%;
		min-width: auto;
		margin: 20px;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
	}

	.container-contact .contactInfo{
		top: 0;
		height: 550px;
		position: relative;
		box-shadow: none;
	}

	.container-contact .contactForm{
		position: relative;
		width: calc(100% - 350px);
		padding-left: 0;
		margin-left: 0;
		padding: 40px;
		height: 550px;
		box-shadow: none;
	}

	.container-contact .contactInfo h2{
		text-align: center;
	}
}


@media (max-width: 991px){
	.contact-section{
		background: #273c75; 
	}

	.contact-section::before{
		display: none;
	}

	.container-contact{
		display: flex;
		flex-direction: column-reverse;
	}

	.container-contact .contactForm {
		width: 100%;
		height: auto;
	}

	.container-contact .contactInfo{
		width: 100%;
		height: auto;
		flex-direction: row;
	}

	.container-contact .contactInfo ul.sci{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}



@media(max-width: 768px)
{
	.info .container-card .card{
		max-width: 300px;
		flex-direction: column;
		height: auto;
	}

	.info .container-card .card .imgBx{
		position: relative;
	}

	.info .container-card .card .imgBx,
	.info .container-card .card:hover .imgBx{
		width: 100%;
		height: 200px;
		left: 0;
	}

	.info .container-card .card .imgBx img,
	.info .container-card .card:hover .imgBx img{
		max-width: 100px;
	}

	.info .container-card .card .content{
		position: relative;
		width: 100%;
	}
}


@media (max-width: 600px){
	.container-contact .contactForm {
		padding: 25px;
	}

	.container-contact .contactInfo {
		padding: 25px;
		flex-direction: column;
		align-items: flex-start;
	}

	.container-contact .contactInfo ul.sci {
		margin-top: 40px;
	}

	.container-contact .contactForm .formBox .inputformBox.w50{
		width: 100%;
	}
}



@media screen and (min-width: 1200px) {
	.container {
	  max-width: 1024px;
	}
}
  
@media screen and (min-width: 1024px){
	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.about__img-one {
		width: 230px;
	  }
	.about__img-two {
		width: 290px;
	}
	.propos__img-one{
		width: 420px;
	}
	.propos__img-two{
		width: 520px;
	}
	

	.video__container {
		grid-template-columns: .7fr;
	}

	.video__description {
		padding: 0 8rem;
	}

	/* .discover__card {
		width: 237px;
	  }
	  .discover__container {
		width: 700px;
	  }
	  .discover__data {
		left: 1.5rem;
		bottom: 2rem;
	  }
	  .discover__title {
		font-size: 1.5rem;
	} */

	.experience__content {
		margin: 1rem 0;
		column-gap: 3.5rem;
	}
	.experience__overlay:nth-child(1) {
		width: 463px;
		margin-right: 7rem;
	}
	.experience__overlay:nth-child(2) {
		width: 220px;
		top: 3rem;
	}

	.footer__content {
		justify-items: center;
	  }
	
}

@media screen and (min-height: 721px) {
	body {
	  margin: 0;
	}
	
}










        






































/*========== SCROLL UP ==========*/
.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -20%;
	background-color: #273c75;
	padding: .5rem;
	display: flex;
	opacity: .9;
	z-index: 10;
	transition: .4s;
  }
  
  .scrollup:hover {
	background-color: #192a56;
	opacity: 1;
  }
  
  .scrollup__icon {
	color: #fff;
	font-size: 1.2rem;
  } 
  
  /* Show scroll */
  .show-scroll {
	bottom: 5rem;
  }
  
  /*=============== SCROLL BAR ===============*/
  ::-webkit-scrollbar {
	width: .60rem;
	background-color: #e1e6f5;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #273c75;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: #192a56;
	
  }